admin-extra-urls==2.1.0
alembic==1.7.4
amqp==2.6.1
appdirs==1.4.4
asgiref==3.3.4
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.3
avinit==1.2.2
awscli==1.18.105
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.9.1
billiard==3.5.0.5
black==20.8b1
blinker==1.4
boto3==1.17.28
boto3-type-annotations==0.3.1
botocore==1.12.253
bs4==0.0.1
cached-property==1.5.2
celery==4.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
CMRESHandler==1.0.0
colorama==0.4.3
configparser==5.0.0
constantly==15.1.0
coverage==4.4.2
crayons==0.3.1
cryptography==2.9.2
cssselect==1.1.0
dataclasses==0.7
dateparser==0.7.0
decorator==4.4.0
deepdiff==3.3.0
defusedxml==0.6.0
diff-match-patch==20200713
distlib==0.3.2
Django==2.1.7
django-admin-autocomplete-filter==0.5
django-admin-list-filter-dropdown==1.0.3
django-admin-multiple-choice-list-filter==0.1.1
django-admin-rangefilter==0.5.0
django-admirarchy==1.0.0
django-annoying==0.10.4
django-appconf==1.0.4
django-autocomplete-light==3.5.1
django-autoslug-iplweb==1.9.4.dev0
django-bulk-update==2.2.0
django-cache==0.3
django-cacheops==5.0.1
django-celery-beat==1.6.0
django-cities-light==3.5.0
django-compat==1.0.15
django-compressor==2.4.1
django-cors-headers==3.4.0
django-debug-toolbar==1.9.1
django-dotenv==1.4.2
django-easy-select2==1.4.0
django-elasticsearch-debug-toolbar==1.2.0
django-elasticsearch-dsl==0.4.4
django-elasticsearch-dsl-drf==0.19
django-favicon-plus==0.0.8
django-filter==2.1.0
django-health-check==3.10.2
django-import-export==2.0.1
django-libsass==0.8
django-localflavor==2.1
django-memoize==2.1.0
django-meta==1.4.1
django-model-utils==3.1.2
django-nine==0.2.4
django-oauth-toolkit==1.3.3
django-oauth2-provider==0.2.6.1
django-phonenumber-field==2.2.0
django-querysetsequence==0.12
django-redis==4.9.0
django-redis-cache==2.1.3
django-silk==3.0.1
django-solo==1.1.3
django-static-sitemaps==4.6.0
django-storages==1.7.1
django-timezone-field==3.1
django-tinymce4-lite==1.7.0
django-url-filter==0.3.13
django-user-agents==0.4.0
django-wkhtmltopdf==3.3.0
djangorestframework==3.9.2
djangorestframework-xml==1.4.0
docutils==0.15.2
dotmap==1.3.17
drf-writable-nested==0.5.1
easy-thumbnails==2.5
elasticsearch==5.5.3
elasticsearch-dsl==5.4.0
enum-compat==0.0.3
et-xmlfile==1.1.0
factory-boy==2.11.1
Faker==4.1.1
Flask==2.0.2
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
flower==0.9.3
funcy==1.15
fuzzywuzzy==0.16.0
gevent==20.6.2
gitdb==4.0.5
gitdb2==4.0.2
GitPython==2.1.5
googlemaps==3.0.2
gprof2dot==2016.10.13
greenlet==0.4.16
gunicorn==19.9.0
httpretty==0.9.6
hyperlink==19.0.0
idna==2.9
image==1.5.32
importlib-metadata==4.3.1
importlib-resources==5.2.2
incremental==17.5.0
iniconfig==1.1.1
invoke==1.4.1
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.17.2
Jinja2==3.0.2
jmespath==0.10.0
jsmin==2.2.2
jsonpickle==1.4.1
kombu==4.1.0
libsass==0.20.1
limits==1.5.1
lxml==4.3.0
Mako==1.1.5
MarkupPy==1.14
MarkupSafe==2.0.1
mock==2.0.0
model-mommy==1.5.1
mongoengine==0.20.0
mypy-extensions==0.4.3
newrelic==5.14.1.144
nplusone==1.0.0
numpy==1.19.5
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.46
openpyxl==2.4.11
optional-django==0.3.0
packaging==20.4
pandas==1.1.5
parsel==1.6.0
parso==0.7.1
pathspec==0.8.0
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==4.2.1
pluggy==0.13.1
progressbar2==3.51.4
prompt-toolkit==3.0.18
Protego==0.1.16
psutil==5.6.2
psycopg2==2.8.4
psycopg2-binary==2.7.7
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
PyDispatcher==2.0.5
pyee==7.0.3
Pygments==2.2.0
PyHamcrest==2.0.2
PyJWT==2.0.1
pylogbeat==1.0.4
pymongo==3.11.4
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
pyppeteer==0.2.2
pytest==6.1.2
python-crontab==2.5.1
python-dateutil==2.8.1
python-google-places==1.4.2
python-Levenshtein==0.12.0
python-logstash==0.4.6
python-logstash-async==1.6.4
python-magic==0.4.15
python-redis-lock==3.6.0
python-utils==2.4.0
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.3.1
queuelib==1.5.0
raven==6.5.0
rcssmin==1.0.6
react==4.1.1
recurly==3.3.1
redis==2.10.5
redis-structures==0.1.7
regex==2020.7.14
requests==2.25.1
requests-aws4auth==0.9
requests-oauthlib==1.3.0
rjsmin==1.1.0
rsa==4.5
s3transfer==0.1.13
Scrapy==2.1.0
selenium==3.141.0
service-identity==18.1.0
sh==1.12.14
shortuuid==1.0.1
six==1.14.0
smmap==3.0.4
social-auth-app-django==4.0.0
social-auth-core==4.1.0
soupsieve==2.0.1
SQLAlchemy==1.4.25
sqlparse==0.4.1
tablib==0.14.0
testfixtures==6.10.0
text-unidecode==1.3
tld==0.12.6
toml==0.10.1
tornado==5.1.1
tqdm==4.19.8
traitlets==4.3.3
twill==3.0
Twisted==20.3.0
typed-ast==1.4.1
typing-extensions==3.10.0.0
tzlocal==2.1
ua-parser==0.8.0
unicodecsv==0.14.1
Unidecode==0.4.16
unittest-xml-reporting==2.5.1
-e git+https://github.com/tictrac/universal-analytics-python.git@081f522e3a5ef9f5686b500e718630bb95ac1dfa#egg=universal_analytics_python
urllib3==1.25.9
user-agents==2.0
vine==1.3.0
vital-tools==0.1.13
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.2.1
websockets==8.1
Werkzeug==2.0.2
wget==3.2
whitenoise==4.1.2
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
zipp==3.4.1
zope.event==4.4
zope.interface==5.1.0
