<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make A Short URL</title>
</head>
<body>
<h1>Make A Short URL</h1>
<form action="shortenurl">
    <label for="Sender">Enter Sender Number </label>
    <input type="url" name="url" value="" required>
    <label for="Recipient">Enter Recipient Number</label>
    <input type="text" name="Recipient" value="" required>
    <label for="message">Enter Recipient Number</label>
    <input type="text" name="Recipient" value="" required>
    <input type="submit" value="Submit">
</form>

</body>
</html>